* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background: url(./assets/bgMobile.jpg) no-repeat top center/cover;
}

body * {
    font-family: "Inter", serif;
    color: #ffffff;
}

#container {
    width: 360px;

    margin: 56px auto 0px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/* botoes */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 18px;



}

ul li a {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    border-radius: 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background 0.3s, transform 0.2s;
    width: 100%;
}

ul li a:hover {
    background-color: rgba(255, 0, 0, 0.297);
    color: #ffffff;
    transform: scale(1.05);
}